<!-- Horizontally centered pagination bar-->
<div class="container-md">
    <ul class="nav justify-content-center">
        {{#each pages}}
            {{#if this.current}}
                <li class="nav-item">
                    <a class="nav-link text-primary text-decoration-underline" href="#">{{this.number}}</a>
                </li>
            {{else}}
                <li class="nav-item">
                    <a class="nav-link text-black" href="/accounts?page={{this.number}}">{{this.number}}</a>
                </li>
            {{/if}}
        {{/each}}
    </ul>
</div>