<!DOCTYPE html>
<html lang="en">
{{>partials/headPartial.hbs}}
<body>
{{>partials/navBarPartial.hbs}}
<div class="container-fluid p-0">
    {{#if normal }}
        {{transactions}}
    {{else if fraud}}
        <!-- Fraud stuff here -->
    {{else}}
        <!-- All stuff here -->
    {{/if}}
</div>
{{>partials/footerPartial.hbs}}
</body>
</html>