<!DOCTYPE html>
<html lang="en">
{{>partials/headPartial.hbs}}
<body>
{{>partials/navBarPartial.hbs}}
<div class="container-fluid p-0">
    <!-- Main Content in here -->
</div>
{{>partials/footerPartial.hbs}}
</body>
</html>